.i4ewOd-pzNkMb-haAclf {
    left: 0!important;
    right: 0!important;
    z-index: 9!important;
    overflow: hidden;
    color: #fff;
    position: absolute;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
    display: none!important;
    background-color: #4d6a79;
}
.i4ewOd-pzNkMb-r4nke-LS81yb.di8rgd-TEhSn {
    height: 24px;
    line-height: 24px;
    margin-top: 0;
    display: none!important;
}